<form (ngSubmit)="agregar()">
    <div
      class="alert alert-warning" 
      role="alert">
      
      <label for="formGroupExampleInput">
          Nombre Medicamento
      </label>
      
      <input 
        type="text" 
        class="form-control" 
        id="formGroupExampleInput" 
        placeholder="Nombre Medicamento" 
        name="name"
        [(ngModel)]="item.name"
      >
    </div>

    <div 
      class="alert alert-warning" 
      role="alert">
      
      <label for="exampleFormControlTextarea1">
          Mecanismo de Accion
      </label>
      
      <textarea 
        class="form-control" 
        id="exampleFormControlTextarea1" 
        rows="3" 
        name="mecAccion"
        [(ngModel)]="item.mecAccion"
      >
      </textarea>
    </div>

    <div 
      class="alert alert-warning" 
      role="alert">
      
      <label for="exampleFormControlTextarea1">
          Modo de Administracion
      </label>
      
      <textarea 
        class="form-control" 
        id="exampleFormControlTextarea1" 
        rows="3" 
        name="modAdministracion"
        [(ngModel)]="item.modAdministracion"  
      >
      </textarea>
    </div>

    <div 
      class="alert alert-warning" 
      role="alert">
      <label for="exampleFormControlTextarea1">
          Contraindicaciones
      </label>
      
      <textarea 
        class="form-control" 
        id="exampleFormControlTextarea1" 
        rows="3" 
        name="contraindicaciones"
        [(ngModel)]="item.contraindicaciones"
      >
      </textarea>
    </div>

    <div 
      class="alert alert-warning" 
      role="alert">
      <label for="exampleFormControlTextarea1">
          Advertencia y Precauciones
      </label>
      
      <textarea 
        class="form-control" 
        id="exampleFormControlTextarea1" 
        rows="3" 
        name="advertenciaPrecauciones"
        [(ngModel)]="item.advertenciaPrecauciones"  
      >
      </textarea>
    </div>

    <div 
      class="alert alert-warning" 
      role="alert">

      <label for="formGroupExampleInput2">
          Cantidad
      </label>
      
      <input 
        type="text" 
        class="form-control" 
        id="formGroupExampleInput2" 
        placeholder="0" 
        name="cantidad"
        [(ngModel)]="item.cantidad"
      >
    </div>
    <button type="submit" class="btn btn-warning">Agregar Medicamento</button>
  </form>

